@import "ribbons";
.search-page{
  .trending{
    width: 90%;
    .title{
      padding: 10px;
       i{
        margin: 0px 10px;
       }
    }
    .trending-list{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 30px;
      .trend{
        width: 200px;
        height: 280px;
        position: relative;
        img{
           width: 100%;
           height: 100%;
           border-radius: 10px;
        }

        margin: 0px 10px;
      }
    }
  }
}
