<div class="search-page">
  <div class="trending">
    <div class="title">
      <i class="fa-solid fa-arrow-trend-up"></i> Trending
    </div>
    <div class="trending-list">
          <div class="trend">
            <div class="ribbon-2">in Theaters</div>
           <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d402e261-4f38-49bb-924d-0ba2c0e845c3/dg2gpb4-cf9a8e2e-29b2-444e-8fa9-86f615c057f2.jpg/v1/fill/w_800,h_1000,q_70,strp/jawan_fan_made_poster_2023_by_tarikulraana_dg2gpb4-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTUwMCIsInBhdGgiOiJcL2ZcL2Q0MDJlMjYxLTRmMzgtNDliYi05MjRkLTBiYTJjMGU4NDVjM1wvZGcyZ3BiNC1jZjlhOGUyZS0yOWIyLTQ0NGUtOGZhOS04NmY2MTVjMDU3ZjIuanBnIiwid2lkdGgiOiI8PTEyMDAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.MSgoUG-4v0v_PTrhngMHmqPOq0heGXpMhef3qMaAOMg" alt="">
          </div>
          <div class="trend">
            <div class="ribbon-2">in Theaters</div>
            <img src="https://media.spicyonion.com/cache/images/profile/title/miss-shetty-mr-polishetty-telugu-movie/miss-shetty-mr-polishetty-telugu-movie-2240x320.jpg" alt="">
         </div>
         <div class="trend">
          <div class="ribbon-2">in Theaters</div>
          <img src="https://media.spicyonion.com/cache/images/profile/title/kushi-telugu-movie/kushi-telugu-movie-1240x320.jpg" alt="">
       </div>
       <div class="trend">
        <div class="ribbon-2">in OTT</div>
        <img src="https://m.media-amazon.com/images/M/MV5BNDA5YzlhNjItMDgxNC00MjQ4LWIzMDMtYTUyMzBhNjViNDk3XkEyXkFqcGdeQXVyMTY3ODkyNDkz._V1_.jpg" alt="">
     </div>

    </div>
  </div>
</div>
