<div class="form-page">
  <form>
    <app-collapsible-panel  [title]="'Content Info'">
      <div class="inputs">
        <div class="input-container">
          <label>Content Type</label>
          <select name="type" (ngModelChange)="typeChange()" [(ngModel)]="contributeForm.type" required>
            <option value="WSERIES">Web Series</option>
            <option value="SHOW">TV Show</option>
            <option value="MOVIE">Movie</option>
          </select>
        </div>
        <div class="input-container">
          <label>Title</label>
          <input [(ngModel)]="contributeForm.title" type="text" name="title" required>
        </div>
        <div class="input-container">
          <label>Release Date</label>
          <input [(ngModel)]="contributeForm.releaseDate" type="date" name="releaseDate" required>
        </div>

        <div class="input-container">
          <label>Poster URL</label>
          <input [(ngModel)]="contributeForm.poster" type="text" name="poster">
        </div>
        <div class="input-container">
          <label>Plot</label>
          <textarea rows="8" [(ngModel)]="contributeForm.plot" type="text" name="plot"></textarea>
        </div>
        </div>
     </app-collapsible-panel>
     <app-collapsible-panel  [title]="'Content Cast'">
      <div class="inputs">
        <div class="input-container">
          <label>Director</label>
          <input [(ngModel)]="contributeForm.director" type="text" name="director" required>
        </div>
        </div>
     </app-collapsible-panel>
     <app-collapsible-panel [title]="'Content Genres & Tags'">
      <div class="inputs">
      <chip-input [chipInputs]="contributeForm.genres" [itemFor]="'Genre'" (inputChange)="updateGenres($event)">
      </chip-input>
      <chip-input [chipInputs]="contributeForm.tags" [itemFor]="'Tag'" (inputChange)="updateTags($event)">
      </chip-input>
      </div>
     </app-collapsible-panel>


    <button [disabled]="!contributeForm.title" (click)="onSubmit()" type="submit">{{ movieId ? 'Update' :'Add' }}
      Content</button>

  </form>
</div>
