@import 'mixins';

.signup-page {
  min-height: calc(100vh - 65px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  .card {
    height: 100%;
    padding: 10px 27px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    .networkError{
      padding: 10px;
      border-radius: 10px;
      background: #EF5350;
      color: white;
      margin-bottom: 5px;
    }
    form {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 20px;
      width: 100%;

      .errors {
        margin: 5px;
        color: rgb(231, 14, 14);
      }

      h2 {
        font-size: 25px;
        font-weight: 500;
        line-height: 32px;
        margin-bottom: 30px;
      }

      .input-container {
        @include inputContainer(false)
      }
      button {
        @include button(large);
        &:disabled{
          background-color: #f0f0f0;
          color: black;
          cursor: not-allowed;
        }
      }


    }
  }
}
