<div class="search-container">
  <div class="searchBox">
    <div class="input-container">
      <label>Search for movie/series</label>
      <input  type="text" value="">
    </div>
  </div>

    <div class="search-result">
       <div class="title">
         Search Result for "RRR"
       </div>
       <div class="movies">
        <div *ngFor="let x of [1,2,3,4,5]" class="card">
           <img src="https://m.media-amazon.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_.jpg" alt="">
        </div>
      </div>
    </div>
</div>
