@import 'mixins';
.search-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
.searchBox{
  margin: 5px 5%;
  .input-container{
    @include inputContainer(false);
  }
}

  .search-result{
    .title{
      font-size: 24px;
      color: rgb(45, 4, 4);
      margin-bottom: 10px;
    }
    .movies {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .card {
        border: 4px solid #4c514b;
        height: 280px;
        width: 190px;
        border-radius: 4px;
        margin: 5px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
        }
        &:hover{
          border: 4px solid #1a98ff;
        }

      }
    }
  }

}

