<nav *ngIf="showNavBar"  [class.searchbar]="!showSearchbar" >
  <a class="brand m-l-16"  routerLink="/">BingeWorthy</a>
  <div *ngIf="showSearchbar" routerLink="/search" class="search-container">
    <div class="suggestions">
        <div class="suggestion">search  &nbsp; <span>  "horro movies"</span></div>
        <div class="suggestion">search  &nbsp; <span>  "time travel movies"</span></div>
        <div class="suggestion">search  &nbsp; <span>  "dc movies"</span></div>
        <div class="suggestion">search  &nbsp; <span>  "marvel movies"</span></div>
        <div class="suggestion">search  &nbsp; <span>  "thor 4"</span></div>
    </div>
    <i class="fa fa-search"></i>
  </div>
  <div *ngIf="!showSearchbar"  class="search-inputcontainer">
    <input placeholder="search for binge content" type="text">
    <i class="fa fa-search"></i>
  </div>
    <ul *ngIf="showSearchbar" class="navbar">
      <li routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        Home
      </li>
      <li routerLink="/explore" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        Explore
      </li>
      <li routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-item">
        Login
      </li>
    </ul>
</nav>
  <router-outlet></router-outlet>


