<header >
  <div class="nav-brand">
    <a class="link" href="/"><h1>Bingeworthy</h1></a>
  </div>
  <div class="nav-links">

      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  routerLink="/search"><i class="fa fa-search" ></i></a>
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" routerLink="/explore">Explore</a>
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  routerLink="/profile" *ngIf="isLoggedIn()">Profile</a>
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  (click)="logout()" *ngIf="isLoggedIn()">Logout</a>
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"   routerLink="/login" *ngIf="!isLoggedIn()">Login</a>
      <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"  routerLink="/signup" *ngIf="!isLoggedIn()">Sign Up</a>
  </div>
</header>
<div class="container">
  <router-outlet></router-outlet>
</div>

