<div class="form-page">
<div class="tab-options">
  <span (click)="changeForm(i)" *ngFor="let season of contributeForm.seasons;let i=index" [class.active]="activeFormIndex==i">{{i+1}}</span>
  <span (click)="updateSeasonCount(contributeForm.seasons.length+1)" class="btn">Add Season<i class="fa fa-plus"></i></span>
</div>
<div *ngIf="contributeForm.seasons.length"  class="inputs">
  <div class="input-container">
    <label>Season {{activeFormIndex+1}} Description</label>
    <input [(ngModel)]="contributeForm.seasons[activeFormIndex].description" type="text" name="poster">
  </div>
  <div class="input-container">
    <label>Season {{activeFormIndex+1}} Poster</label>
    <input [(ngModel)]="contributeForm.seasons[activeFormIndex].poster" type="text" name="poster">
  </div>
  <span (click)="updateEpisodeCount(contributeForm.seasons[activeFormIndex].episodes.length+1)"  class="btn">Add Episode<i class="fa fa-plus"></i></span>

</div>
<div *ngIf="contributeForm.seasons.length && contributeForm.seasons[activeFormIndex]">
  <div  *ngFor="let episode of contributeForm.seasons[activeFormIndex].episodes;let i=index" class="inputs">
    <div class="input-container">
      <label>Episode {{i+1}} Title</label>
      <input [(ngModel)]="episode.title" type="text" name="poster">
    </div>
    <div class="input-container">
      <label>Episode {{i+1}} Description</label>
      <input [(ngModel)]="episode.description" type="text" name="poster">
    </div>
    <div class="input-container">
      <label>Episode {{i+1}} Duration</label>
      <input [(ngModel)]="episode.duration" type="number" name="poster">
    </div>
  </div>

</div>
<div class="btn-container">
  <button [disabled]="!contributeForm.seasons.length" (click)="onSubmit()" type="submit">{{ movieId ? 'Update' :'Add' }}
    Content</button>
</div>

</div>
