@import 'mixins';
.form-page{
  display: flex;
  flex-direction: column;
  .tab-options{
    height: 65px;
    display: flex;
    color: white;
    background-color: #26A69A;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    span{
      width :35px;
      height:35px;
      font-size:14px;
      border-radius:10px;
      background-color:#151137;
      display:flex;
      align-items:center;
      justify-content :center;
      margin-right:10px;
      cursor: pointer;
      &.active{
        color: white;
        background-color: #151137;
        border: 4px solid white;
      }
      &.btn{
        min-width: 130px;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .inputs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    span.btn{
      display: flex;
      align-items: center;
      justify-content: center;
      height:35px;
      font-size:14px;
      border-radius:10px;
      background-color: #151137;
      color:white;
      min-width: 130px;
      display: flex;
      justify-content: space-around;
      cursor: pointer;
    }
    .input-container {
      @include inputContainer(false);
      width: 100%;
      max-width: 250px;
      margin: 10px;
    }
  }
  .btn-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      width: 150px;
      @include button(large);
      &:disabled{
        background-color: aliceblue;
        color: rgb(5, 49, 88);
        cursor: not-allowed;
      }
    }
  }

}
