@mixin button($size) {
  display: flex;
    align-items: center;
    justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height:56px;
  overflow: hidden;
  font-family: inherit;
  line-height: 1;
  text-decoration: none;
  white-space: nowrap;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  border: 0px;
   @if $size == small {
      padding: 6px 11px;
  } @else if $size == medium {
    padding: 10px 20px;
  } @else if $size == large {
    padding: 12px 24px;
  }
  &:hover{
    background-color: rgb(0 0 0 / 75%);
  }
  &:disabled {
    background-color: rgb(0 0 0 / 55%);
  }
 .icon{
  width: 25px;
  height: 25px;
  margin: 5px;
 }
}
@mixin iconButton($size){
   @include button($size);
    width: 48px;
    height: 48px;
    background: white;
    color: black;
    border: 1px solid #E0E0E0;
    &:hover{
    background-color: black;
     color: white;
  }
}
