@mixin button($size) {
  background-color: $violet;
  color: white;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  font-size: 14px;
  margin: 0px 4px;
  text-decoration: none;
   @if $size == small {
      padding: 6px 11px;
  } @else if $size == medium {
    padding: 10px 20px;
  } @else if $size == large {
    padding: 12px 24px;
  }
  &:hover {
    background-color: $violet;
  }
}
