@font-face {
  font-family: 'Belanosima';
  src: url('../assets/fonts/Belanosima-SemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Belanosima';
  src: url('../assets/fonts/Belanosima-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Belanosima';
  src: url('../assets/fonts/Belanosima-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
