@import "colors";
@mixin inputFieldset() {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    label {
      color: #18193f;
      background-color: white;
      left: 10px;
      position: absolute;
      top: -8px;
      padding: 0px 4px;
    }
    
    input,
    textarea,
    select {
      border: 1px solid #ddd;
      border-radius: 10px;
      font-size: 14px;
      padding: 18px 10px;
      width: 100%;
      margin-right: 10px;
      display: flex;
      &:focus{
        outline: 1px solid $violet;
      }
    }
  input[type=checkbox]
  {
    border: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    &:focus{
      outline: 0px;
    }
  }
  &.hasError{
     label {
      color: red;
    }
     input,
    textarea,
    select {
      border: 1px solid red;
       &:focus{
        outline: 1px solid red;
      }
    }
  }

}

