@import "colors";
@mixin inputContainer($innerBtn) {
        position: relative;
        margin-bottom: 20px;
        width: 100%;
        label {
          color: #1A237E;
          background-color: white;
          left: 10px;
          position: absolute;
          top: -8px;
          padding: 0px 4px;
        }

        input,textarea,select{
          border: 1px solid #ddd;
          border-radius: 10px;
          font-size: 18px;
          min-height: 40px;
          padding: 4px 0px 0px 10px;
          width: 100%;
          margin-right: 10px;
          display: flex;
        }
        select {
          padding: 10px;
         padding-top: 30px;
        }
        textarea{
          padding-top: 30px;
        }
        input:focus,textarea:focus,select:focus{
          outline: 2px solid $violet;
        }
        @if($innerBtn){
        button{
          background-color: $violet;
          color: white;
          border: 0px;
          width: 24px;
          height: 24px;
          border-radius: 50%;
          right: 10px;
          position: absolute;
          top: 40%;
          cursor: pointer;
        }
        button:disabled{
          background-color: gray;
          color: white;
        }
        }
}



@mixin centerFlexbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
