$spaceamounts: (2,4,8,10,12,14,16,18,20,22,24); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}px !important;
  }
  .p-#{$space} {
    padding: #{$space}px !important;
  }
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

// ========== [IS-FLEX]
@mixin is-flex($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}
// ========== [IS-FLEX-COLOUMN]
@mixin is-flex-column($align, $justify) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
}
