.movie-page {
  display: flex;
  align-items: stretch;

  .poster {
    width: 280px;
    height: 100%;
    border-right: 1px solid rgb(242, 242, 242);
  }

  .movie-details {
    position: sticky;
    align-self: flex-start;
    padding-top: 2rem;
    padding-left: 2rem;

    .title {
      color: rgb(0, 0, 0);
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      margin: 0;
    }

    .genres {
      margin-bottom: 10px;

      .genre {
        display: inline-flex;
        align-items: center;
        margin: 2px;
        padding: 8px;
        border-radius: 4px;
        font-weight: 400;
        font-size: 14px;
        color: rgb(38, 50, 56);
        background-color: rgb(245, 245, 245);
       }
    }

    .plot {
      margin-bottom: 20px;
    }

    .details {
      margin-bottom: 20px;

      .details-item {
        margin-bottom: 8px;
        display: flex;

        .label {
          font-weight: bold;
          margin-right: 8px;
        }
      }
    }

    .actors {
      display: flex;
      flex-wrap: wrap;

      .actor-item {
        display: flex;
        align-items: center;
        margin-right: 12px;
        margin-bottom: 12px;

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 8px;
        }

        .value {
          font-size: 14px;
        }
      }
    }

    /* Seasons Tabs */
    .seasons-tabs {
      margin-top: 20px;
      .season-btns{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
          padding: 10px 15px;
          border-radius: 13px;
          background-color: #F5F5F5;
          color: #4527A0;
          font-size: 14px;
          font-weight: 600;
          border: 0px;
          margin: 5px;
          cursor: pointer;
          &.active {
            background-color: #4527A0;
            color: #F5F5F5;
          }

        }
      }
      .season-tab {
        margin-bottom: 10px;
        p.description {
          margin-top: 8px;
          border: 2px dotted #5C6BC0;
          padding: 14px;
          border-radius: 10px;
          background: #b39ddbc2;
        }

        ul.episodes-list {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            border: 2px solid #EEEEEE;
            border-radius: 10px;
            padding: 12px;
            margin-top: 8px;
            h2{
              margin: 10px 0px;
              font-weight: 900;
            }
            div{
              display: flex;
              justify-content: space-between;
              span{
                background: #9C27B0;
                border-radius: 10px;
                padding: 5px;
                color: white;
                &:nth-child(2){
                  background: #ffffff;
                  color: #4527A0;
                }
              }
            }


          }
        }
      }
    }
  }
}
